{% extends "layouts/default.html" %}

{% block pre_content %}
    {{ super.block }}
    <div class="max-w-11xl mx-auto">
    <aside class="fixed top-0 left-[max(0rem,calc(50%-58rem))] w-64 h-screen transition-transform -translate-x-full sm:translate-x-0">
        {% include 'components/side_navigation/side_navigation.html' %}
    </aside>
    <main class="sm:ml-[max(16rem,calc(50%-42rem))] px-4 sm:px-6 md:px-8">
{% endblock %}
{% block post_content %}
    {{ super.block }}
    </main>
    </div>
{% endblock %}