{% extends "base_tenant.html" %}

{% block title %}
    {{ block.super }} - Animals
{% endblock %}


{% block content %}
    {{ block.super }}

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 w-full py-6 px-4">
        {% for animal in animal_list %}
            <a class="h-96" href="{% url 'tenant:animal' animal.id %}">
                <p class="absolute">{{ animal.name }}</p>
                {% if animal.images.all %}
                    <img class="h-full w-full rounded-lg object-cover" src="{{ animal.images.all.0.image.url }}" alt="image">
                {% else %}
                    <p>No image</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}